/*
!wp-content/
wp-content/*
!wp-content/mu-plugins/
!wp-content/themes/
!wp-config-sample.php
.*
~*
node_modules/
**/node_modules/*
ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
!.gitignore
!.editorconfig
!README.md
!CHANGELOG.md
!composer.json